@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/_layoutJd.cshtml";

    var header = Umbraco.Field("header");
    var bodyText = Umbraco.Field("bodyText");
}



<div class="row homePageContainer" ng-app="jdApp" ng-controller="homePageController">
    <div class="video-container homePageSection">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hVIphm3PAhw" frameborder="0" allowfullscreen></iframe>
    </div>
    @*<div class="homePageSection">

    </div>
    <div class="homePageSection">

    </div>*@
</div>


