@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{


    var header = Umbraco.Field("header");
    var bodyText = Umbraco.Field("bodyText");
    var dynamicMediaItem = Umbraco.Media(Umbraco.Field("Picture", recursive: true).ToString());

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var currentPage = umbracoHelper.AssignedContentItem;
    var picture = currentPage.Properties.FirstOrDefault(i => i.PropertyTypeAlias == "picture").Value.TryConvertTo<dynamic>().Result;
    var categoryLogo = currentPage.Properties.FirstOrDefault(i => i.PropertyTypeAlias == "categoryLogo").Value.TryConvertTo<dynamic>().Result;
    var childrenUrl = "#";
    if (currentPage.Children.Count() > 0)
    {
        childrenUrl = currentPage.Children.ToList()[0].Url;
    }
    Layout = Request.Path.ToString() == "/defaultproductcategorypage/" ? null : "~/Views/_layoutJd.cshtml";
}

<div ng-click="showCategory(@currentPage.Id)">
    <div class="col-xs-12 no-padding-l no-padding-r">
        @*<h4>@header</h4>*@
        <img src="@categoryLogo.Url" alt="" style="width:100%; max-width:470px; margin-bottom:10px;" />
    </div>
    <div class="col-xs-12 no-padding-l no-padding-r" ng-class="{'hidetext':categoryChildren}">
        <span>@bodyText</span>
    </div>
</div>
