@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "~/Views/_layoutJd.cshtml";
}
<div class="q-and-a jdcontent">
<div class="col-xs-12">
<h1>Frågor och svar</h1>
</div>

<div class="col-xs-4">
@Umbraco.Field("qAGenerellText")
</div>
<div class="col-xs-8">
@Umbraco.RenderMacro("Questions")
</div>
</div>