@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    var selection = Model.Content.Site().Children("produktCategory")
                        .Where(x => x.IsVisible());
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var productCategorys= umbracoHelper.TypedSearch("produktCategory");   
}

	@foreach(var item in productCategorys)
    {
        <div class="col-xs-12">
            @Umbraco.RenderTemplate(item.Id)
        </div>		
	}
