
.productCategory{
    margin-bottom:20px;
    display: inline-block;
}
.productCategoryMacro{
    margin:0 auto;
    max-width: 980px
    }
.contentDecHeader{
    margin-bottom:1px;

}
.contentDecValue{
    margin-bottom:2.5px;
    font-size:12px;
}
.contentDeclaration{
    display:inline-block;
    box-shadow:1px black;
}