@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProduktCategory>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var header = Umbraco.Field("header");
    var bodyText = Umbraco.Field("bodyText");
    var link = header.ToString().ExceptChars(new HashSet<char> { ' ' });
    var dynamicMediaItem = Umbraco.Media(Umbraco.Field("Picture", recursive: true).ToString());
    Layout = "~/Views/_layoutJd.cshtml";
}

<div ng-controller="productController">
    <div class="col-xs-4">
    <div><h4>@header</h4></div>
    <span>@bodyText</span>
    <a href="@link">VISA PRODUKTER</a>
</div>
<div class="col-xs-8">   
        <img src="@dynamicMediaItem.umbracoFile" alt="" height="200" width="600" />
</div>
</div>