<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT qAndAQuestion ANY>
<!ATTLIST qAndAQuestion id ID #REQUIRED>
<!ELEMENT qAndA ANY>
<!ATTLIST qAndA id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT produktCategory ANY>
<!ATTLIST produktCategory id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productCategoryPage ANY>
<!ATTLIST productCategoryPage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="9f09635c-b39b-4b41-8201-ed52848bde7d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-13T16:17:00" updateDate="2017-06-13T18:21:01" nodeName="HomePageDefault" urlName="homepagedefault" path="-1,1065" isDoc="" nodeType="1064" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1063" nodeTypeAlias="homePage">
    <pictures><![CDATA[umb://media/86a73a5bb5234cc7bfafe3eb62066783]]></pictures>
    <title><![CDATA[Jakobsdals]]></title>
  </homePage>
  <produktCategory id="1081" key="9eb2a937-37e9-4ca2-83b2-943ec09cee2d" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-06-13T21:33:42" updateDate="2017-10-10T19:00:31" nodeName="Bror Jakobs rökta skinkor" urlName="bror-jakobs-roekta-skinkor" path="-1,1081" isDoc="" nodeType="1069" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1068" nodeTypeAlias="produktCategory">
    <picture><![CDATA[umb://media/09b7b70e68214fba81096a4c361fe5c5]]></picture>
    <header><![CDATA[Bror Jakobs rökta skinkor]]></header>
    <categoryLogo><![CDATA[umb://media/5f9d123916dd4fe388ef298c94ce4c23]]></categoryLogo>
    <bodyText><![CDATA[<p><span>Har blivit en svensk klassiker för att den är tillagad på traditionellt vis med kunskapen från flera generationer. Skinkan finns i flera smaker, så här kan du hitta din personliga favorit. Prova också Bror Jakobs kubbar, naturligt formade skinkor som ger en äkta känsla i varje skiva.</span></p>]]></bodyText>
    <product id="1086" key="fcbab788-c6e8-4661-877f-cb312fda72d0" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2017-06-22T18:02:57" updateDate="2017-10-16T00:16:27" nodeName="Rökt skinka, lösvikt" urlName="roekt-skinka-loesvikt" path="-1,1081,1086" isDoc="" nodeType="1079" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1078" nodeTypeAlias="product">
      <overviewtext><![CDATA[<p>Saftig med en mjuk saltdoft och röksöt smak av lönn och ek.</p>]]></overviewtext>
      <header><![CDATA[Rökt skinka]]></header>
      <pictures><![CDATA[umb://media/81ced6e349f74ca680615a8f80ea3d53]]></pictures>
      <detailedText><![CDATA[<p><span>Tillagas av innan- och ytterlår av svensk köttråvara. Skinkan putsas noggrant, handläggs, nätas och röks sedan långsamt så att smakerna får tid på sig att utvecklas och mogna. Så tillagas en saftig klassisk skinka med mjuk saltdoft och en röksöt smak av lönn och ek.</span></p>]]></detailedText>
      <fat><![CDATA[2,2g]]></fat>
      <carbs><![CDATA[1,8]]></carbs>
      <saturatedFat><![CDATA[0,7g]]></saturatedFat>
      <protein><![CDATA[20g]]></protein>
      <energy><![CDATA[450 kj/110 kcal]]></energy>
      <whereSugars><![CDATA[1,6]]></whereSugars>
      <salt><![CDATA[3,5g]]></salt>
      <maintext><![CDATA[<p><span>Skinka 96% (helmuskel), salt, antioxidationsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="325">E325</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="331">E331</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="301">E301</a><span>, druvsocker (majs), kryddor, stabiliseringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="450">E450</a><span>, konserveringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="250">E250</a><span>. Rökt med rökarom av lönn och ek.</span></p>]]></maintext>
    </product>
    <product id="1087" key="4e2631aa-639a-4b29-8b1d-5d988fd53f51" parentID="1081" level="2" creatorID="0" sortOrder="1" createDate="2017-07-28T18:07:23" updateDate="2017-10-16T00:16:42" nodeName="Svartrökt skinka" urlName="svartroekt-skinka" path="-1,1081,1087" isDoc="" nodeType="1079" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1078" nodeTypeAlias="product">
      <overviewtext><![CDATA[<p>Extra lång rökning över lönn och ek skapar en generös smak.</p>]]></overviewtext>
      <header><![CDATA[Svartrökt skinka]]></header>
      <pictures><![CDATA[umb://media/497138900fa44e4691530b9222c66b9e]]></pictures>
      <detailedText><![CDATA[<p><span>Tillagas av innan- och ytterlår av svensk köttråvara. Skinkan putsas noggrant, handläggs, nätas och röks sedan rejält länge så att smakerna får tid på sig att utvecklas och mogna mer än normalt. Denna svarta pärla delar ovanligt generöst med sig av röksmaken från lönn och ek.</span></p>]]></detailedText>
      <fat><![CDATA[2,2g]]></fat>
      <carbs><![CDATA[1,8g]]></carbs>
      <saturatedFat><![CDATA[0,7g]]></saturatedFat>
      <protein><![CDATA[20g]]></protein>
      <energy><![CDATA[450 kj/110 kcal]]></energy>
      <whereSugars><![CDATA[1,6g]]></whereSugars>
      <salt><![CDATA[3,5g]]></salt>
      <maintext><![CDATA[<p><span>Skinka 96%, ( helmuskel), salt, antioxidationsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="325">E325</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="331">E331</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="301">E301</a><span>, druvsocker (majs), kryddor, stabiliseringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="450">E450</a><span>, konserveringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="250">E250</a><span> Rökt med rökarom av lönn och ek.</span></p>]]></maintext>
    </product>
    <product id="1112" key="baebbeec-ee94-4fd5-a865-01290d49bbbb" parentID="1081" level="2" creatorID="0" sortOrder="2" createDate="2017-10-10T16:57:27" updateDate="2017-10-16T00:16:51" nodeName="Svartvinbärsskinka" urlName="svartvinbaersskinka" path="-1,1081,1112" isDoc="" nodeType="1079" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1078" nodeTypeAlias="product">
      <overviewtext><![CDATA[<p><span>Svarta vinbär fyller upplevelsen med frisk sötma, jordighet och smakrikedom.</span></p>]]></overviewtext>
      <header><![CDATA[Svartvinvärsskinka]]></header>
      <pictures><![CDATA[umb://media/6ff69ea2cb394c6482120036ba8df719]]></pictures>
      <detailedText><![CDATA[<p><span>Vi tillagar skinkan av innan- och ytterlår av svensk köttråvara. Delarna marineras en hel natt i svartvinbärssaft för att smakerna ska komma fram ordentligt.  Skinkan handläggs, nätas och röks sedan långsamt tills den får en fin röksmak med frisk sötma och jordighet.</span></p>]]></detailedText>
      <fat><![CDATA[2,2g]]></fat>
      <carbs><![CDATA[1,8g]]></carbs>
      <saturatedFat><![CDATA[0,7g]]></saturatedFat>
      <protein><![CDATA[20g]]></protein>
      <energy><![CDATA[450 kJ/110 kcal]]></energy>
      <whereSugars><![CDATA[1,6g]]></whereSugars>
      <salt><![CDATA[3,5g]]></salt>
      <maintext><![CDATA[<p><span>Skinka 96% (helmuskel), salt, antioxidationsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="325">E325</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="331">E331</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="301">E301</a><span>, druvsocker (majs), naturligt svartvinbärsarom, kryddor, stabiliseringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="450">E450</a><span>, konserveringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/bror-jakobs/" class="js-enummer" data-number="250">E250</a><span>. Rökt med rökarom av lönn och ek.</span></p>]]></maintext>
    </product>
  </produktCategory>
  <productCategoryPage id="1084" key="dac50124-9b79-4c9f-aa55-c11610e18033" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-06-20T19:28:43" updateDate="2017-06-20T19:28:43" nodeName="DefaultProductCategoryPage" urlName="defaultproductcategorypage" path="-1,1084" isDoc="" nodeType="1083" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1082" nodeTypeAlias="productCategoryPage" />
  <produktCategory id="1088" key="6be19815-6483-4c15-a163-7bbd1004b410" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-08-08T18:03:53" updateDate="2017-10-10T19:08:10" nodeName="Haga-Petters" urlName="haga-petters" path="-1,1088" isDoc="" nodeType="1069" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1068" nodeTypeAlias="produktCategory">
    <picture><![CDATA[umb://media/09b7b70e68214fba81096a4c361fe5c5]]></picture>
    <header><![CDATA[Haga-Petters]]></header>
    <categoryLogo><![CDATA[umb://media/258da83ae1834e5c98f7908510c46823]]></categoryLogo>
    <bodyText><![CDATA[<p><span>Här vare finfin kokt och rökt korv! Inspirationen kommer från Agnar ”Haga-Petter” Pettersson, den första generationen jakobsdalare. Njut till exempel av Haga-Petters rökta korv med en nostalgisk doft av bokspånsrökt och spänst i varje tugga.</span></p>]]></bodyText>
  </produktCategory>
  <qAndA id="1104" key="8016ca09-bdca-43d3-9709-563e7d875dc1" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2017-10-05T18:59:24" updateDate="2017-10-05T18:59:24" nodeName="fragor-och-svar" urlName="fragor-och-svar" path="-1,1104" isDoc="" nodeType="1095" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1089" nodeTypeAlias="qAndA">
    <qAGenerellText><![CDATA[Många hör av sig till oss med frågor och funderingar kring våra råvaror och tillagning med mera. För att underlätta för dig när en fråga dyker upp, har vi samlat de vanligaste frågorna och svaren på den här sidan.

Hittar du inte svaret på din fråga? Hör då av dig till oss på sidan kontakt.]]></qAGenerellText>
    <qAndAQuestion id="1105" key="6658177f-ea2f-44d3-b316-1fadd63c8d4d" parentID="1104" level="2" creatorID="0" sortOrder="0" createDate="2017-10-05T19:01:44" updateDate="2017-10-05T19:02:02" nodeName="Vad innebär det när en produkt är rökt med rökarom?" urlName="vad-innebaer-det-naer-en-produkt-aer-roekt-med-roekarom" path="-1,1104,1105" isDoc="" nodeType="1103" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1102" nodeTypeAlias="qAndAQuestion">
      <fraagan><![CDATA[Vad innebär det när en produkt är rökt med rökarom?]]></fraagan>
      <svar><![CDATA[Vi använder oss av naturligt rökkondensat. Det framställs av träflis som eldas. Den rök som bildas kondenseras sedan till en vätska genom nedkylning. Vätskan renas från cancerogena ämnen så som tjära och aska. Kondensatet använder vi sedan för att återskapa rök i våra rökskåp. Det ger likvärdiga resultat jämfört med traditionell rökning med spån.]]></svar>
    </qAndAQuestion>
  </qAndA>
  <produktCategory id="1119" key="964d73b6-bca2-49fd-a80e-2b61a120a69f" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2017-10-16T00:05:19" updateDate="2017-10-16T00:05:19" nodeName="Mor Matildas rökta skinkor" urlName="mor-matildas-roekta-skinkor" path="-1,1119" isDoc="" nodeType="1069" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1068" nodeTypeAlias="produktCategory">
    <picture><![CDATA[umb://media/09b7b70e68214fba81096a4c361fe5c5]]></picture>
    <header><![CDATA[Mor Matildas kokta skinka]]></header>
    <categoryLogo><![CDATA[umb://media/f987adc34796479ba9e7ef3845789d2d]]></categoryLogo>
    <bodyText><![CDATA[<p><span>”Mor Matildas, tack!”, är en av de vanligaste fraserna vid charkdisken. Är en svensk klassiker för att den är tillagad på traditionellt vis med kunskapen från flera generationer. Skinkan har en finstämd balans mellan sött och salt. Finns även som örtmarinerad och senapsgriljerad.</span></p>]]></bodyText>
    <product id="1121" key="2316a9cc-b0a5-45bb-b434-cbfcb0210375" parentID="1119" level="2" creatorID="0" sortOrder="0" createDate="2017-10-16T00:10:48" updateDate="2017-10-16T00:10:48" nodeName="Örtskinka" urlName="oertskinka" path="-1,1119,1121" isDoc="" nodeType="1079" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1078" nodeTypeAlias="product">
      <overviewtext><![CDATA[<p><span>Köksträdgården skänker dofter av basilika, dragon och andra örter.</span></p>]]></overviewtext>
      <header><![CDATA[Örtskinka]]></header>
      <pictures><![CDATA[umb://media/73e35b3142994ff6a377622c06191562]]></pictures>
      <detailedText><![CDATA[<p><span>Tillagas av innan- och ytterlår av svensk köttråvara. Delarna läggs för hand med köttfibrerna åt samma håll vilket gör skinkan extra mör i konsistensen. Vi täcker den med en örtblandning från den svenska köksträdgården och kokar den långsamt i den egna lagen.</span></p>]]></detailedText>
      <fat><![CDATA[2,2g]]></fat>
      <carbs><![CDATA[1,8g]]></carbs>
      <saturatedFat><![CDATA[0,7g]]></saturatedFat>
      <protein><![CDATA[20g]]></protein>
      <energy><![CDATA[450kJ/110kcal]]></energy>
      <whereSugars><![CDATA[1,6g]]></whereSugars>
      <salt><![CDATA[3,5g]]></salt>
      <maintext><![CDATA[<p><span>Skinka 96% (helmuskel), salt, antioxidationsmedel </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="325">E325</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="331">E331</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="301">E301</a><span>, druvsocker (majs), örtkryddor, kryddor (vitlök), stabiliseringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="450">E450</a><span>, konserveringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="250">E250</a><span>.</span></p>]]></maintext>
    </product>
    <product id="1131" key="fa83d872-0814-472a-8152-d232aa4fbc1e" parentID="1119" level="2" creatorID="0" sortOrder="1" createDate="2017-10-16T00:19:37" updateDate="2017-10-16T00:25:03" nodeName="Kokt skinka" urlName="kokt-skinka" path="-1,1119,1131" isDoc="" nodeType="1079" creatorName="Markus Vall" writerName="Markus Vall" writerID="0" template="1078" nodeTypeAlias="product">
      <overviewtext><![CDATA[<p><span>Naturlig mörhet och en finstämd balans mellan sött och salt.</span></p>]]></overviewtext>
      <header><![CDATA[Kokt skinka]]></header>
      <pictures><![CDATA[umb://media/2e2ec672f1b1472a87be5497db7c906f]]></pictures>
      <detailedText><![CDATA[<p><span>Tillagas av innan- och ytterlår av svensk köttråvara. Delarna läggs för hand med köttfibrerna åt samma håll vilket gör skinkan extra mör i konsistensen. Vi kokar den sedan långsamt i sin egen lag. Resultatet är en saftig skinka med en finstämd balans mellan sött och salt.</span></p>]]></detailedText>
      <fat><![CDATA[2.2g]]></fat>
      <carbs><![CDATA[1.8g]]></carbs>
      <saturatedFat><![CDATA[0.7g]]></saturatedFat>
      <protein><![CDATA[20g]]></protein>
      <energy><![CDATA[450 kJ/110 kcal]]></energy>
      <whereSugars><![CDATA[1.6g]]></whereSugars>
      <salt><![CDATA[3.5]]></salt>
      <maintext><![CDATA[<p><span>Skinka 96% (helmuskel), salt, antioxidationsmedel </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="325">E325</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="331">E331</a><span>, </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="301">E301</a><span>, druvsocker (majs), kryddor, stabiliseringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="450">E450</a><span>, konserveringsmedel </span><a href="http://www.jakobsdals.se/charkuterier/mor-matildas/" class="js-enummer" data-number="250">E250</a><span>.</span></p>]]></maintext>
    </product>
  </produktCategory>
</root>